{% extends "base.html" %}


{% block title %} Home Page {% endblock title %}


{% block banner %}
    {% include 'includes/banner.html' %}
{% endblock banner %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
    <h1 class="display-4">My Application</h1>
    <p class="lead">My Application built with Django</p>
    <p class="lead">
        <a href="{% url 'articles:article_list' %}" class="btn btn-primary btn-lg">Перейти к списку статей</a>
    </p>
    </div>
</div>
{% endblock content %}