{% extends "base.html" %}


{% block title %}Detail{% endblock title %}


{% block content %}
<div class="container padding">
<div class="col-md-12 col-md-offset-2">
    <div class="card" >

        <div class="card-body">
    <div class="post-entry">
        <h2>{{ article.title }}</h2>
        <p>{{ article.body }}</p>
        <p>Автор: {{ article.author }} | {{ article.create_date|date:'d-m-Y' }}</p>

    {% if user.is_authenticated and article.author == request.user %}
        <p><a href="{% url 'articles:article_edit' article.pk %}"> Edit  </a>|<a href="{% url 'articles:article_delete' article.pk %}">  Delete</a></p>

<!--        <h5>Only author can Edit this Article. Please <a href="{% url 'login' %}">Login</a> as author.</h5>-->
    {% endif %}
        <p><a href="{% url 'articles:article_list' %}" role="button" class="btn btn-primary">To Article List</a></p>
        </div>
    </div>
        <div class="card-footer">
            <h5>Comments: </h5>
            {% for comment in article.comments.all %}
            <p><span class="font-weight-bold">{{ comment.author }} -  </span> {{ comment.comment }}</p>
            {% endfor %}
        </div>
</div>
</div>
</div>
{% endblock content %}