{% extends "base.html" %}


{% block title %}Detail Article{% endblock title %}


{% block content %}
<div class="container padding">
<div class="col-md-12 col-md-offset-2">
    <div class="card border-info mb-3" >
        <div class="text-center">
            {% if article.image %}
                <p><img src="{{ article.image.url }}"  class="card-img-top" alt="..."></p>
            {% endif %}
        </div>

        <div class="card-body">
    <div class="post-entry">
        <p><h2>{{ article.title }}</h2></p>
        <p>{{ article.body }}</p>
        <p>Автор: {{ article.author }} | {{ article.create_date|date:'d-m-Y' }}</p>
    <div class="text-center">
    {% if user.is_authenticated and article.author == request.user %}
        <a href="{% url 'articles:article_edit' article.pk %}"> Edit  </a>|<a href="{% url 'articles:article_delete' article.pk %}">  Delete</a>

<!--        <h5>Only author can Edit this Article. Please <a href="{% url 'login' %}">Login</a> as author.</h5>-->
    {% endif %}
        <a href="{% url 'articles:article_list' %}" role="button" class="btn btn-primary mx-3">Список статей</a>
        </div>
    </div>
    </div>
        <div class="card-footer ">
            <h4 class="my-2">Комментарии: </h4>
            {% for comment in comments %}
            <div class="card border-success mb-3 my-1">
                <div class="card-title text-white bg-secondary "><span class="font-weight-bold">{{ comment.create_date|date:'d-m-Y' }} | {{ comment.author }}:  </span></div>
                <div class="card-body">{{ comment.comment }}</div>
            </div>
            {% endfor %}
        </div>
</div>
</div>
</div>

    <div class="container padding my-3">
    <div class="col-md-5 col-md-offset-2">
            <div class="card border-warning mb-3">
                <div class="container my-2">
                    <h4>Написать комментарий:</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-success ml-2" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}